{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">Register Form</h2>
  <div class="container">
    <form>
    <div class="mt-3">
      <label class="form-label mt-3">
        Login/email
        <input type="text" class="form-control">
      </label>
    </div>
    <div class="mt-3">
      <label class="form-label mt-3">
        Password
        <input type="password" class="form-control">
      </label>
    </div>
    <div class="mt-3">
      <label class="form-label mt-3">
        Repeat password
        <input type="password" class="form-control">
      </label>
    </div>
    <div class="mt-3">
      <label class="form-label mt-3">
        Surname
        <input type="text" class="form-control">
      </label>
    </div>
    <div class="mt-3">
      <label class="form-label mt-3">
        Name
        <input type="text" class="form-control">
      </label>
    </div>
    <div class="mt-3">
      <label class="form-label mt-3">
        Age
        <input type="number" class="form-control">
      </label>
    </div>
    <div class="mt-3">
      <label class="form-label mt-3">
        Position
        <input type="text" class="form-control">
      </label>
    </div>
    <div class="mt-3">
      <label class="form-label mt-3">
        Speciality
        <input type="text" class="form-control">
      </label>
    </div>
    <div class="mt-3">
      <label class="form-label mt-3">
        Address
        <input type="text" class="form-control">
      </label>
    </div>

    <button type="submit" action="#" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}